<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
    <h1>{{question.question_text}}</h1>
    {% if error_message %}<p><strong>{{error_message}}</strong></p>
    {% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter}}" value="{{choice.id}}">
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
    <form action="{% url 'polls:add' %}" method="post">
      {% csrf_token %}
    <label for="question">question: </label>
    <input id="id_question" type="text" name="question"><br>
    <label for="Pub_date">pob_date: </label>
    <input id="pob_date" type="datetime-local" name="pob_date"><br>
    <input type="submit" value="add">
</form>
</ul>
</body>
</html>